* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container .boxes {
    display: grid;
    grid-template-columns: 350px 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width:767px) {
    .container .boxes {
        display: grid;
        grid-template-columns: 350px;
    }
}

.container .boxes .first {
    grid-area: 1 / 1 / 1 / 3;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px 80px 30px 40px;
}

@media (max-width:767px) {
    .container .boxes .first {
        grid-area: 1 /1 /1/1;
        padding: 40px 10px 30px 20px;
    }
}

.container .boxes .first h2 {
    color: hsl(179, 62%, 43%);
    font-size: 25px;
}

.container .boxes .first h3 {
    color: hsl(71, 73%, 54%);
    font-size: 20px;
}

.container .boxes .first p {
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
}

.container .boxes .second {
    grid-area: 2 / 1 / 3 /2;
    background-color: #2bb3b1;
    border-bottom-left-radius: 10px;
    padding: 30px 70px 30px 40px;
}

@media (max-width:767px) {
    .container .boxes .second {
        grid-area: 2 / 1 / 3 /1;
        border-bottom-left-radius: 0px;
        padding: 40px 10px 30px 20px;
    }
}

.container .boxes .second h3 {
    color: hsl(204, 43%, 93%);
    font-size: 20px;
}

.container .boxes .second .one {
    color: hsl(218, 22%, 80%);
    display: flex;
    align-items: center;
}

.container .boxes .second .one span:first-of-type {
    color: hsl(204, 43%, 93%);
    font-weight: bold;
    font-size: 35px;
    margin-right: 15px;
}

.container .boxes .second .two {
    color: hsl(204, 43%, 93%);
    font-weight: normal;
}

.container .boxes .second button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 15px 30px;
    text-align: center;
    width: 240px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: hsl(204, 43%, 93%);
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

@media (max-width:767px) {
    .container .boxes .second button {
        width: 280px;
    }
}

.container .boxes .third {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #4abebd;
    border-bottom-right-radius: 10px;
    padding: 30px 80px 30px 40px;
}

@media (max-width:767px) {
    .container .boxes .third {
        grid-area: 3 / 1 / 4 /1;
        border-bottom-left-radius: 10px;
        padding: 40px 110px 30px 20px;
    }
}

.container .boxes .third h3 {
    color: hsl(204, 43%, 93%);
}

.container .boxes .third p {
    color: hsl(204, 43%, 90%);
    font-weight: normal;
    line-height: 1.5;
}